@model AggregateViewModel

<div class="text-center">
    <form>
    <div class="row">
        <div class="col-2">
            <label style="padding-top: 5px"><b>Улица</b></label>
        </div>
        <div class="col-5">
            <select class="form-control street">
                @foreach (Street street in Model.Streets)
                {
                    <option value="@street.id">@street.name </option>
                }
            </select>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-2">
            <label style="padding-top: 5px"><b>Строение</b></label>
        </div>
        <div class="col-3">

            <select id="houses" class="form-control house">
                @{
                    System.Collections.Generic.List<House> houses = Model.Streets.FirstOrDefault().Houses;
                }
                @foreach (House house in houses)
                {
                    <option value="@house.id">@house.number</option>
                }
            </select>
        </div>
    </div>
    <br/>
    <div class="row" >
        <div class="col-2">
            <label><b>Базовая станция</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="@Model.Hub.id">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th scope="col">
                        Идентификатор
                    </th>
                    <th scope="col">
                        Код
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr id="meterHub">
                    <th scope="row">@Model.Hub.id</th>
                    <td>@Model.Hub.code</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <div class="row" >
        <div class="col-2">
            <label><b>Счётчики</b></label>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Идентификатор</th>
                    <th scope="col">Квартира</th>
                    <th scope="col">Код</th>
                    <th scope="col">Тип</th>
                </tr>
                </thead>
                <tbody id="meterTable">
                @{                   
                    foreach (Flat flat in Model.Flats)
                    {
                        for (var i = 0; i < flat.Meters.Count; i++)
                        {
                            var meter = flat.Meters[i];
                            var type = meter.type == "heat_water" ? "ГВС" : meter.type == "cold_water" ? "ХВС" : "Электр.";
                            <tr>
                                <th scope="row">@meter.id</th>
                                @if (i == 0)
                                {
                                    <td class="align-middle" rowspan="@flat.Meters.Count">кв. @flat.num</td>
                                }
                                <td>@meter.code</td>
                                <td>@type</td>
                            </tr>
                        }
                       
                    }
                }

                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
